{% extends 'base.html' %}
{% load static %}

{% block horizontal_nav_title %}
    <h2>Benutzerprofil</h2>
{% endblock %}

{% block horizontal_nav_navigation %}
    <li><span><a href="{% url 'account:user_list' %}">Benutzer Übersicht</a></span></li>
    <li><span>Benutzerprofil</span></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <section class="panel">
                <div class="panel-body">
                    <div class="thumb-info mb-md">
                        <img src="assets/images/!logged-user.jpg" class="rounded img-responsive" alt="John Doe">
                        <div class="thumb-info-title">
                            <span class="thumb-info-inner">{{ object.first_name }} {{ object.last_name }}</span>
                            <!-- <span class="thumb-info-type">Dr.</span> -->
                        </div>
                    </div>


                    <hr class="dotted short">

                    <h6 class="text-muted">Über dich</h6>
                    <p>{{ object.profile.biography }}</p>
                    <div class="clearfix">
                    </div>


                </div>
            </section>


            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">
                        <span class="label label-primary label-sm text-normal va-middle mr-sm">{{ object.groups_list.count }}</span>
                        <span class="va-middle">Gruppen</span>
                    </h2>
                </header>
                <div class="panel-body">
                    <div class="content">
                        <ul class="simple-user-list">
                            {% for group in  object.groups_list.all %}
                                <li>
                                    <span class="title">{{ group.name }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">
                        <span class="va-middle">Gesamtleistung</span>
                    </h2>
                </header>

                <div class="panel-body">
                    <div class="content">
                        {{ total_scored }} / {{ total_full_score }}
                        <div class="progress">
                          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ total_full_scored_percentage }}"
                          aria-valuemin="0" aria-valuemax="100" style="width:{{ total_full_scored_percentage }}%">
                              {{ total_full_scored_percentage }}%
                          </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-up"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">
                        <span class="label label-primary label-sm text-normal va-middle mr-sm">{{ object.user_accomplishments.count }}</span>
                        <span class="va-middle">Einzelleistungen</span>
                    </h2>
                </header>

                <div class="panel-body" style="display:none;">
                    <div class="content">
                        <ul class="simple-user-list">
                            {% for user_accomplishment in  object.user_accomplishments.all %}
                                <li>
                                    <span class="title">{{ user_accomplishment.accomplishment.name }}</span> {{ user_accomplishment.score|default:"0"  }}/{{ user_accomplishment.accomplishment.full_score }}
                                      <div class="progress">
                                          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ user_accomplishment.get_percentage }}"
                                          aria-valuemin="0" aria-valuemax="100" style="width:{{ user_accomplishment.get_percentage }}%">
                                              {{ user_accomplishment.get_percentage }}%
                                          </div>
                                      </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>

        </div>

        <div class="col-md-9 col-lg-9">
            <div class="tabs">
                <ul class="nav nav-tabs tabs-primary">
                    <li class="active tab-item">
                        <a href="#overview" data-toggle="tab">Ansicht</a>
                    </li>
                    <li class="tab-item">
                        <a href="#edit" data-toggle="tab">Bearbeiten</a>
                    </li>
                    <li class="tab-item"><a href="#reset_password" data-toggle="tab">Passwort zurücksetzen</a></li>
                </ul>

                <div class="tab-content">
                    <div id="overview" class="tab-pane active">
                        <form class="form-horizontal" method="get">
                            <h4 class="mb-xlg">Persönliche Informationen</h4>
                            <fieldset>
                                {% if object.profile.title %}
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Titel</label>
                                        <div class="col-md-8">
                                            <label class="control-label">{{ object.profile.title|default:"" }}</label>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Vorname</label>
                                    <div class="col-md-8">
                                        <label class="control-label">{{ object.first_name }}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nachname</label>
                                    <div class="col-md-8">
                                        <label class="control-label">{{ object.last_name }}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Benutzername</label>
                                    <div class="col-md-8">
                                        <label class="control-label">{{ object.username }}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileCompany">Email</label>
                                    <div class="col-md-8">
                                        <label class="control-label">{{ object.email }}</label>
                                    </div>
                                </div>
                            </fieldset>
                            <hr class="dotted tall">
                            <h4 class="mb-xlg">Über dich</h4>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileBio">Biografie</label>
                                    <div class="col-md-8">
                                        <label class="control-label">{{ object.profile.biography|default:"Keine Angaben" }}</label>
                                    </div>
                                </div>
                            </fieldset>
                            <hr class="dotted tall">
                            <h4 class="mb-xlg">Rechte und Privilegien</h4>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="profileCompany">Administrator-Status</label>
                                <div class="col-md-8">
                                    {% if object.profile.is_admin is True %}
                                        <label class="control-label">Ja</label>
                                    {% else %}
                                        <label class="control-label">Nein</label>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="edit" class="tab-pane">
                        {% include "account/user/profile/forms/form.html" %}
                    </div>

                    <div id="reset_password" class="tab-pane">
                        {% include 'account/user/profile/forms/reset_password_form.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block specific_page_vendor_css %}
    <style>
        .errorlist {
            padding-left:0px;
        }
    </style>
{% endblock %}


{% block specific_page_vendor_js %}
		<script src="{% static 'octopus/assets/vendor/jquery-autosize/jquery.autosize.js' %}"></script>
        <script>
            var tab_items = document.getElementsByClassName("tab-item");
            var tab_panes = document.getElementsByClassName("tab-pane");

            var unactivate_tab_items = function(ignore_tab_item, ignore_tab_pane){
                for(var i = 0; i<tab_items.length;i++){
                    var tab_item = tab_items[i];
                    if(tab_item != ignore_tab_item){
                        tab_item.className = tab_item.className.replace("active", "");
                    }
                }

                for(i = 0; i<tab_panes.length;i++){
                    var tab_pane = tab_panes[i];
                    if(tab_pane != ignore_tab_pane){
                        tab_pane.className = tab_pane.className.replace("active", "");
                    }
                }
            };

            for(var i=0; i<tab_items.length; i++){
                var tab_item = tab_items[i];
                var a_tag = tab_item.getElementsByTagName("a")[0];
                var href = a_tag.href;
                var tab_panel_id = href.split("#")[1];
                var tab_panel = document.getElementById(tab_panel_id);
                var error_el = tab_panel.getElementsByClassName("errorlist")[0];

                if(error_el != null){
                    tab_item.className += " active";
                    tab_panel.className += " active";
                    unactivate_tab_items(tab_item, tab_panel);
                    error_el.scrollIntoView(false);
                    break;
                }
            }

        </script>
{% endblock %}

{% block examples %}
{% endblock %}