{% load static %}
<!-- Theme CSS -->
<link rel="stylesheet" href="{% static 'octopus/assets/stylesheets/theme.css'  %}" />

<!-- Skin CSS -->
<link rel="stylesheet" href="{%  static 'octopus/assets/stylesheets/skins/default.css' %}" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" href="{% static 'octopus/assets/stylesheets/theme-custom.css' %}">

<!-- Head Libs -->
<script src="{% static 'octopus/assets/vendor/modernizr/modernizr.js' %}"></script>

<style>
    .errorlist {
        color:red;
        list-style:none;
    }
</style>
