{% extends 'base.html' %}
{% load static %}

{% block horizontal_nav_title %}
    <h2>Fachrichtungen Übersicht</h2>
{% endblock %}

{% block horizontal_nav_navigation %}
    <li><span>Fachrichtungen Übersicht</span></li>
{% endblock %}

{% block content %}
    {% if request.user.is_superuser or request.user.profile.is_admin %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-right">
                    <a href="{% url 'subject_area:create' %}" class="btn btn-info">Neue Fachrichtung anlegen</a>
                </div>
            </div>
        </div>
    {% endif %}
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>
            <h2 class="panel-title">Fachrichtungen Übersicht</h2>
        </header>

        <div class="panel-body">
            <div class="col-md-12">
                <table class="table table-bordered table-striped table-hover" id="datatable-default">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </section>
<!-- end: page -->
{% endblock %}


{% block examples %}

{% endblock %}

{% block css %}
    {% if settings.WEBPACK_DEV_SERVER is True %}
        <link rel="stylesheet" href="http://{{ settings.PUBLIC_IP }}:8080/build/subject_area/bundle.css" />
    {% else %}
        <link rel="stylesheet" href="{% static 'dist/subject_area/bundle.css' %}" />
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        var api_url = "{% url 'api_subject_area:subject_area_datatables' %}";
    </script>
    <!-- Specific Page Vendor -->
    {% if settings.WEBPACK_DEV_SERVER is True %}
        <script src="http://{{ settings.PUBLIC_IP }}:8080/build/subject_area/bundle.js"></script>
    {% else %}
        <script src="{% static 'dist/subject_area/bundle.js' %}"></script>
    {% endif %}
{% endblock %}
