{% extends 'base.html' %}
{% load static %}

{% block horizontal_nav_title %}
    <h2>Terminplanung</h2>
{% endblock %}

{% block horizontal_nav_navigation %}
    <li><span>Terminplanung</span></li>
{% endblock %}


{% block content %}
    <style>
        @media only screen and (max-width: 480px) {
            .modal .modal-dialog {
                position:relative;
                width:auto;
                margin: 10px;
            }
        }

        @media only screen and (min-width: 481px) {
            .modal .modal-dialog {
                width:414px;
            }
        }
    </style>

    <div class="panel-body">
    <br/><br/>
        <div class="col-md-8 col-md-offset-2">
            <div class="text-center">
                <button class="btn btn-info ac" id="appointment_btn" data-toggle="collapse" data-target="#demo">Neuer Eintrag
                    <i class="fa fa-fw fa-chevron-down" id="collapse_arrow"></i>
                </button>
            </div>
            <div id="demo" class="collapse" style="padding-top:25px;">
                <div id="recent10" class="tab-pane">
                    {% include 'appointment/forms/conference_form.html' %}
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="col-md-12">
            <div id="calendar"></div>
        </div>
    </div>

    <!-- Modal -->
    <div id="edit_infobox" class="modal fade" role="dialog">
      <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <form method="POST" id="edit_infobox_form">{% csrf_token %}
                  <div class="modal-header" style="background-color:#f0ad4e;color:white;border-radius: 3px;">
                    <button type="button" style="color:black;" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Task bearbeiten</h4>
                  </div>
                  <div class="modal-body">
                        {% include 'appointment/forms/edit_infocard_form.html' %}
                  </div>
                  <div class="modal-footer">
                      <div style="float:left;">
                          <button type="submit" class="btn" style="background-color:#f0ad4e;color:white;">Änderungen speichern</button>
                      </div>
                  </div>
              </form>
            </div>
      </div>
    </div>


    <!-- Modal -->
    <div id="edit_conference" class="modal fade" role="dialog">
      <div class="modal-dialog">
          <form method="POST" id="edit_conference_form">{% csrf_token %}
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header" style="background-color:#428bca;color:white;border-radius: 3px;">
                <button type="button" style="color:black;" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Termin bearbeiten</h4>
              </div>
              <div class="modal-body">
                    {% include 'appointment/forms/edit_conference_form.html' %}
              </div>
              <div class="modal-footer">
                  <div style="float:left;">
                      <button type="submit" class="btn" style="background-color:#428bca;color:white;">Änderungen speichern</button>
                  </div>
              </div>
            </div>
          </form>
      </div>
    </div>

    <script>
        var toggle_button = document.getElementById("appointment_btn");
        var collapse_arrow = document.getElementById("collapse_arrow");

        toggle_button.onclick = function(e){
              var aria_expanded = toggle_button.getAttribute("aria-expanded");
              if(aria_expanded == "true"){
                  collapse_arrow.className = collapse_arrow.className.replace("chevron-up", "chevron-down")
              }else{
                  collapse_arrow.className = collapse_arrow.className.replace("chevron-down", "chevron-up")
              }
        };

    </script>

    <style>
        .form-group #id_groups ul {
          padding-left:0;
          list-style: none;
        }
        .form-group #id_groups li {
          display: inline;
          padding-right:25px;
        }
        form li{
            list-style:none;
        }
        form ul {
            display:inline;
        }

    </style>
{% endblock %}

{% block js %}
    <script>
        var api_url = "{% url "appointment:appointment-calendar" %}";
        var edit_infobox_action_url = "{% url 'appointment:edit_infobox' pk=0 %}";
        var edit_conference_action_url = "{% url 'appointment:edit_conference' pk=0 %}";
        var delete_url = "{% url 'appointment:delete' %}";
        var csrf_token = "{{ csrf_token }}";
    </script>
    <!-- Specific Page Vendor -->
    {% if settings.WEBPACK_DEV_SERVER is True %}
        <script src="http://{{ settings.PUBLIC_IP }}:8080/build/appointment/base/bundle.js"></script>
    {% else %}
        <script src="{% static 'dist/appointment/base/bundle.js' %}"></script>
    {% endif %}
{% endblock %}


{% block css %}

    {% if settings.WEBPACK_DEV_SERVER is True %}
        <link rel="stylesheet" href="http://{{ settings.PUBLIC_IP }}:8080/build/appointment/base/bundle.css" />
    {% else %}
        <link rel="stylesheet" href="{% static 'dist/appointment/base/bundle.css' %}" />
    {% endif %}

{% endblock %}