{% extends 'base.html' %}
{% load static %}

{% block horizontal_nav_title %}
    <h2>Neuen Kontakt anlegen</h2>
{% endblock %}

{% block horizontal_nav_navigation %}
    <li><span><a href="{% url 'phonebook:list' %}">Kontaktliste Übersicht</a></span></li>
    <li><span>Neuen Kontakt anlegen</span></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <form method="POST" id="form">{% csrf_token %}
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>
                        <h2 class="panel-title">Neuen Kontakt anlegen</h2>
                        <br/>
                    </header>
                    <div class="panel-body">
                        <div class="col-md-6" style="padding-bottom:25px;">
                            {{ form.as_p }}
                        </div>
                        <div class="col-md-12">
                            <div>
                                <button class="btn btn-primary">Neuen Kontakt anlegen</button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>

<!-- end: page -->
    <style>
    form ul {
      padding-left:0;
      list-style: none;
    }
    form li {
      display: inline;
      padding-right:25px;
    }
    </style>
{% endblock %}


{% block examples %}

{% endblock %}