{% extends 'base.html' %}
{% load static %}

{% block horizontal_nav_title %}
    <h2>Aufgaben {{ instance }}</h2>
{% endblock %}

{% block horizontal_nav_navigation %}
    <li><span>Aufgaben {{ instance }}</span></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
            </section>
        </div>
    </div>
    {% for group, user_tasks, task_form in tasks %}
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>
                <h2 class="panel-title">{{ group.name }}</h2>
            </header>

            <div class="panel-body">
                <div class="col-md-12">
                    {% if user_tasks|length > 0 %}
{#                        <form method="POST" action="{% url 'taskmanagement:new_task_users' task_pk=instance.pk group_pk=group.pk %}">{% csrf_token %}#}
{#                            {{ task_form.as_p }}#}
{#                            <button type="submit" class="btn btn-primary">Speichern</button>#}
{#                        </form>#}
                        {% for usertask in user_tasks %}
                            {{ usertask.user }}
                            {% if usertask.completed == True %}
                                <span class="glyphicon glyphicon-ok text-success"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove text-danger"></span>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <br/>
                        Diese Aufgabe wurde noch an keinen Benutzer erteilt
                    {% endif %}
                </div>
            </div>
        </section>
    {% endfor %}
<!-- end: page -->
    <style>
    ul {
      padding-left:0;
      list-style: none;
    }
    li {
      display: inline;
      padding-right:25px;
    }
    </style>
{% endblock %}


{% block examples %}

{% endblock %}