{% with infobox_form=edit_infobox_form %}
    <div class="row">
        {{ infobox_form.non_field_errors }}

        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">{{ infobox_form.start_date.label }}</label>
                {{ infobox_form.start_date }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">{{ infobox_form.end_date.label }}</label>
                {{ infobox_form.end_date }}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">{{ infobox_form.promoter.label }}</label>
                {{ infobox_form.promoter }}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">{{ infobox_form.place.label }}</label>
                {{ infobox_form.place }}
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">{{ infobox_form.topic.label }}</label>
                {{ infobox_form.topic }}
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">{{ infobox_form.description.label }}</label>
                {{ infobox_form.description }}
            </div>
        </div>
    </div>
{% endwith %}
