{% with conference_form=edit_conference_form %}
    <div class="row">
        {{ conference_form.non_field_errors }}
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">{{ conference_form.start_date.label }}</label>
                {{ conference_form.start_date }}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">{{ conference_form.end_date.label }}</label>
                {{ conference_form.end_date }}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">{{ conference_form.place.label }}</label>
                {{ conference_form.place }}
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">{{ conference_form.topic.label }}</label>
                {{ conference_form.topic }}
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">{{ conference_form.description.label }}</label>
                {{ conference_form.description }}
            </div>
        </div>
    </div>
{% endwith %}
