<form method="POST" action="{% url 'appointment:new_infobox' %}">{% csrf_token %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="border:50px;">
            <section class="panel panel-warning" id="panel-6" data-portlet-item>
                <header class="panel-heading portlet-handler">
                    <h2 class="panel-title">Task anlegen</h2>
                </header>
                <div class="panel-body">

                    <div class="row">
                        {{ infobox_form.non_field_errors }}

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{ infobox_form.start_date.label }}</label>
                                {{ infobox_form.start_date }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{ infobox_form.end_date.label }}</label>
                                {{ infobox_form.end_date }}
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{ infobox_form.place.label }}</label>
                                {{ infobox_form.place }}
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{ infobox_form.topic.label }}</label>
                                {{ infobox_form.topic }}
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{ infobox_form.description.label }}</label>
                                {{ infobox_form.description }}
                            </div>
                        </div>
                        <br/>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{ infobox_form.groups.label }}</label>
                                {{ infobox_form.groups }}
                            </div>
                        </div>

                        <div class="col-sm-12" style="padding-top:25px;">
                            <div class="form-group">
                                <button class="btn btn-warning" type="submit">Speichern</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>