{% extends 'base.html' %}
{% load static %}

{% block horizontal_nav_title %}
    <h2>Neue Kategorie anlegen</h2>
{% endblock %}

{% block horizontal_nav_navigation %}
    <li><span><a href="{% url 'subject_area:list' %}">Fachrichtungen Übersicht</a></span></li>
    <li><span><a href="{% url 'subject_area:edit' pk=subject_area_object.pk %}">Fachrichtung bearbeiten</a></span></li>
    <li><span><a>Neue Kategorie anlegen</a></span></li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div>
                <section class="panel">
                    <section class="panel-body">
                        <b>Fachrichtung:</b> {{ subject_area_object.title }}
                    </section>
                </section>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                {% include 'subject_area/category/new/form.html' %}
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <section class="panel-body">
                <div class="col-md-12">
                    {% with categories=subject_area_object.category_set.all %}
                        {% if categories %}
                            <p>Kategorien von <b>{{ subject_area_object.title }}</b></p>
                            {% for category in categories %}
                               <p> {{ category.title }} <a href="{% url 'subject_area:edit-category' pk=subject_area_object.pk category_pk=category.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></p>
                            {% endfor %}
                        {% else %}
                            <p class="help-block">Keine Kategorien für <b>{{ subject_area_object.title }}</b> vorhanden </p>
                        {% endif %}
                    {% endwith %}
                </div>
                </section>
            </section>
        </div>
    </div>
<!-- end: page -->
    <style>
    form ul {
      padding-left:0;
      list-style: none;
    }
    form li {
      display: inline;
      padding-right:25px;
    }
    </style>

{% endblock %}


{% block js %}
    <!-- Specific Page Vendor -->
    {% if settings.WEBPACK_DEV_SERVER is True %}
        <script src="http://{{ settings.PUBLIC_IP }}:8080/build/subject_area/edit/bundle.js"></script>
    {% else %}
        <script src="{% static 'dist/subject_area/edit/bundle.js' %}"></script>
    {% endif %}
{% endblock %}


{% block examples %}

{% endblock %}
