{% extends 'base.html' %}


{% block horizontal_nav_title %}
    <h2>Umfrage bearbeiten</h2>
{% endblock %}

{% block horizontal_nav_navigation %}
    <li><a href="{% url 'poll:list' %}"><span>Umfragen Übersicht</span></a></li>
    <li><span>Umfrage bearbeiten</span></li>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ object.title }}</h2>
                </div>
                <div class="panel-body">
                     <div class="col-md-11" style="">
                        <p><b>Bezeichnung:</b> {{ object.title }}</p>
                        <p><b>Beschreibung:</b> {{ object.description }}</p>
                        {% if object.open %}
                            <p><b>Veröffentlicht:</b> <span class="glyphicon glyphicon-ok" style="color:green;"></span></p>
                        {% else %}
                            <p><b>Veröffentlicht:</b> <span class="glyphicon glyphicon-remove" style="color:red;"></span></p>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Umfrage bearbeiten</h2>
                </header>
                <div class="panel-body">
                    <div class="col-md-8">
                        <form method="POST">{% csrf_token %}
                            <br/>
                            <p>
                                <label for="{{ form.title.id }}">{{ form.title.label }}
                                </label>
                                {{ form.title }}
                                {{ form.title.errors }}
                            </p>
                            <p>
                                <label for="{{ form.description.id }}">{{ form.description.label }}
                                </label>
                                {{ form.description }}
                                {{ form.description.errors }}
                            </p>
                            <p>
                                <label for="{{ form.open.id }}">{{ form.open.label }}
                                </label>
                                {{ form.open }}
                                {{ form.open.errors }}
                            </p>
                            <p>
                                <label for="{{ form.option.id }}">{{ form.option.label }}
                                </label>
                                {{ form.option }}
                                {{ form.option.errors }}
                            </p>
                            <br/>
                            <div class="text-right">
                                <button class="btn btn-primary">Änderungen speichern</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-heading">
                    <h2 class="panel-title">Optionen</h2>
                </div>
                <div class="panel-body">
                     <div class="col-md-12" style="">
                         {% for option in object.option_set.all %}
                             <div class="col-md-8" style="padding:0;">
                                 <div class="col-md-6" style="padding:0;">
                                     {{ option.title }} <a href="{% url 'poll:edit-option' pk=object.pk option_pk=option.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                                 </div>
                                 <div class="col-md-6" style="padding:0;">
                                  <div class="progress">
                                      {% with percentage=option.get_percentage %}
                                      <div class="progress-bar" role="progressbar" aria-valuenow="{{ percentage }}"
                                      aria-valuemin="0" aria-valuemax="100" style="width:{{ percentage }}%">
                                        <span class="sr-only-focusable">{{ percentage }}%</span>
                                      </div>
                                      {% endwith %}
                                  </div>
                                 </div>
                             </div>
                         {% endfor %}

                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}