{% extends 'base.html' %}
{% load static %}

{% block horizontal_nav_title %}
    <h2>Dateiverwaltung</h2>
{% endblock %}

{% block horizontal_nav_navigation %}
    <li><span>Dateiverwaltung</span></li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                    </div>

                    <h2 class="panel-title">Ordnerstruktur</h2>
                    {% include "filestorage/tree/forms/form.html" %}
                </header>
                <div class="panel-body">
                    {% if not tree %}
                        <h3 class="text-center">Kein Ordner wurde angelegt</h3>
                    {% endif %}

                    <div id="treeBasic">
                        <ul>
                            {% for directory in tree %}
                            <li>
                                <ul>
                                    <li class="colored-icon" data-jstree='{ "icon" : "fa fa-file-pdf-o" }'>
                                         weiterbildung.pdf
                                    </li>

                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <style>
        .dz-message {
{#            text-align: center;#}
{#            position: absolute;#}
{#            top: 50%;#}
{#            left: 50%;#}
{#            transform: translate(-50%, -50%);#}
        }
    </style>

    {% for directory in tree %}
        <div class="row">
            <div class="col-xs-12">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-up"></a>
                        </div>

                        <h2 class="panel-title">{{ directory.name }}</h2>
                    </header>
                    <div class="panel-body" style="display:none;">
                        <form action="{% url 'filestorage:file_upload' directory_pk=directory.pk %}"
                              class="dropzone dz-square" id="dropzone-example-{{ directory.pk }}"
                              enctype="multipart/form-data" style="border-style: dashed;">{% csrf_token %}
{#                                <div class="dz-message" data-dz-message><span>#}
{#                                 Datei hierher ziehen#}
{#                                </span></div>#}
                        </form>
                        <br/>
                        <div id="preview{{ directory.pk }}" class="dropzone" style="border-width:thin;">

                        </div>
                    </div>
                </section>
            </div>
        </div>
    {% endfor %}
{% endblock %}


{% block specific_page_vendor_js %}
    <!-- Specific Page Vendor -->
    <script src="{% static 'octopus/assets/vendor/jstree/jstree.js'  %}"></script>
    <script src="{% static 'octopus/assets/javascripts/ui-elements/examples.treeview.js' %}"></script>
{#    <script src="{% static 'octopus/assets/vendor/dropzone/dropzone.js' %}"></script>#}
    <script src="{% static 'dropzone/dist/dropzone.js' %}"></script>
    <script>

    Dropzone.autoDiscover = false;

    var options_in_german = {
      'dictDefaultMessage': '<h3>Legen Sie Dateien hier ab um Sie hochzuladen</h3><br/>(oder hier klicken)',
      'dictFallbackMessage': 'Ihr Browser unterstützt Drag&Drop Dateiuploads nicht',
      'dictFallbackText': 'Benutzen Sie das Formular um Ihre Dateien hochzuladen',
      'dictFileTooBig': 'Die Datei ist zu groß. Die maximale Dateigröße beträgt {{maxFileSize}}MB',
      'dictInvalidFileType': 'Eine Datei dieses Typs kann nicht hochgeladen werden',
      'dictResponseError': 'Der Server hat ihre Anfrage mit Status {{statusCode}} abgelehnt',
      'dictCancelUpload': 'Hochladen abbrechen',
      'dictCancelUploadConfirmation': null,
      'dictRemoveFile': 'Datei entfernen',
      'dictMaxFilesExceeded': 'Sie können keine weiteren Dateien mehr hochladen'
    };

    $.extend(window.Dropzone.prototype.defaultOptions, options_in_german);

    {% for directory in tree %}

        var dropzone_{{ directory.pk }} = new Dropzone(
            //id of drop zone element 1
            '#dropzone-example-{{ directory.pk }}',  {
                maxFilesize: 5,
                addRemoveLinks: true,
                dictResponseError: 'Serverfehler',
                autodiscover: false,
                success: function(file, response){
                    file["pk"] = response.pk;
                },
                init: function() {
                    {% for file in directory.file_set.all %}
                        var mockFile = { name: "{{ file.file.name }}", size: "{{ file.file.size }}", pk: "{{ file.pk }}"};
                        this.emit("addedfile", mockFile);

                        this.createThumbnailFromUrl(mockFile, "{{ file.file.url }}");
                        this.emit("complete", mockFile);

                    {% endfor %}


                    this.on("removedfile", function(file) {
                      // Do a post request and pass this path and use server-side language to delete the file
{#                      $.post("delete.php", { file_to_be_deleted: server_file } );#}
                        var url = '{% url "filestorage:files-detail" pk=0 %}'.replace("0", file.pk);

                        $.ajax({
                           beforeSend: function(xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                }
                           },
                           url: url,
                           type: 'DELETE'
                        });
                    });


                },
                previewsContainer: '#preview{{ directory.pk }}'

            }
        );

    {% endfor %}

    $("div").remove(".dz-progress");

    </script>

{% endblock %}

{% block specific_page_vendor_css %}
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="{% static 'octopus/assets/vendor/jstree/themes/default/style.css' %}" />
    <link rel="stylesheet" href="{% static 'octopus/assets/stylesheets/theme-custom.css' %}">
{#    <link rel="stylesheet" href="{% static 'octopus/assets/vendor/dropzone/css/dropzone.css' %}" />#}
    <link rel="stylesheet" href="{% static 'dropzone/dist/basic.css' %}" />
    <link rel="stylesheet" href="{% static 'dropzone/dist/dropzone.css' %}" />
{% endblock %}