<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-up"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>
                <h2 class="panel-title">Neuen Benutzer authorisieren</h2>
            </header>
            <form method="POST" id="authorize_form" action="{% url 'account:authorize_mail' %}">{% csrf_token %}
                <div class="panel-body task_form_panel" style="display:none;">
                    <div class="col-md-12">
                        <p id="form_error" style="color:red;"></p>
                    </div>
                    <div class="col-md-6">
                        {{ form.as_p }}
                    </div>
                </div>
                <div class="panel-footer task_form_panel" style="display:none;">
                    <div class="text-right" style="padding:0 25px 0 25px;">
                        <button class="btn btn-primary">Eintrag speichern</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
<script>
    var authorize_form = document.getElementById("authorize_form");
    var form_error_tag = document.getElementById("form_error");
    authorize_form.onsubmit = function(e){
        e.preventDefault();
        var data = $(this).serialize();
        $.post("{% url 'account:authorize_mail' %}", data).done(function(){
            location.reload();
        }).fail(function(data, textStatus, xhr){
            form_error_tag.innerHTML = JSON.parse(data.responseText).error;
        });
    }
</script>