{% extends 'base.html' %}
{% load static %}

{% block css %}
    {% if settings.WEBPACK_DEV_SERVER is True %}
        <link rel="stylesheet" href="http://{{ settings.PUBLIC_IP }}:8080/build/proposal/bundle.css" />
    {% else %}
        <link rel="stylesheet" href="{% static 'dist/proposal/bundle.css' %}" />
    {% endif %}
{% endblock %}

{% block js %}
    <!-- Specific Page Vendor -->
    {% if settings.WEBPACK_DEV_SERVER is True %}
        <script src="http://{{ settings.PUBLIC_IP }}:8080/build/proposal/bundle.js"></script>
    {% else %}
        <script src="{% static 'dist/proposal/bundle.js' %}"></script>
    {% endif %}

    <script>
        var api_url = "{% url 'proposal:datatables' %}";
        var actions = {deletion: "{% url 'proposal:delete' %}"}
    </script>
{% endblock %}
