{% extends 'base.html' %}


{% block horizontal_nav_title %}
    <h2>Leistung bearbeiten</h2>
{% endblock %}

{% block horizontal_nav_navigation %}
    <li><span>Leistungen bearbeiten</span></li>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ object.name }}</h2>
                </div>
                <div class="panel-body">
                     <p>Gesamtfortschritt</p>
                     <div class="col-md-11" style="padding:0px;">
                         <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="{{ current_score }}"
                              aria-valuemin="0" aria-valuemax="100" style="width:{{ current_score }}%">
                                  {{ current_score }}%
                              </div>
                        </div>
                    </div>
                    {% for user_accomplishment, user_score in subject_area_users_scores %}
                        <div class="row" style="padding-top:10px;">
                            <div class="col-md-2 col-xs-2">
                                 <span>{{ user_accomplishment.user }}</span>
                            </div>
                            <div class="col-md-5 col-xs-5">
                                     <div class="progress">
                                          <div class="progress-bar" role="progressbar" aria-valuenow="{{ user_score }}"
                                          aria-valuemin="0" aria-valuemax="100" style="width:{{ user_score }}%">
                                              {{ user_score }}%
                                          </div>
                                    </div>
                            </div>
                            <div class="col-md-1 col-xs-1">
                                {{ user_accomplishment.get_score_of }}
                            </div>
                        </div>
                    {% endfor %}

                    {% for user_accomplishment, user_score in non_subject_area_users_scores %}
                        {% if user_score > 0 %}
                        <div class="row" style="padding-top:10px;">
                            <div class="col-md-2 col-xs-2">
                                 <span style="text-decoration: line-through;">{{ user_accomplishment.user }}</span>
                            </div>
                            <div class="col-md-5 col-xs-5">
                                     <div class="progress">
                                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ user_score }}"
                                      aria-valuemin="0" aria-valuemax="100" style="width:{{ user_score }}%">
                                          {{ user_score }}%
                                      </div>
                                    </div>
                            </div>
                            <div class="col-md-1 col-xs-1">
                                {{ user_accomplishment.get_score_of }}
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Leistung bearbeiten</h2>
                </header>
                <div class="panel-body">
                    <div class="col-md-12">
                        <form method="POST">{% csrf_token %}
                            <br/>
                            <p>
                                <label for="{{ form.name.id }}">{{ form.name.label }}
                                </label>
                                {{ form.name }}
                                {{ form.name.errors }}
                                <p class="help-block">*Um die Leistungen für die Nutzer auszublenden tragen Sie "SPERRE" für die Bezeichnung ein</p>
                            </p>
                            <p>
                                <label for="{{ form.full_score.id }}">{{ form.full_score.label }}
                                </label>
                                {{ form.full_score }}
                                {{ form.full_score.errors }}
                            </p>
                            <div class="inline-checkboxes">
                                <label for="{{ form.subject_areas.id }}">Fachrichtungen</label>
                                {{ form.subject_areas }}
                                {{ form.subject_areas.errors }}
                            </div>
                            <br/>
                            <div class="text-right">
                                <button class="btn btn-primary">Änderungen speichern</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}