{% extends 'base.html' %}
{% load static %}

{% block horizontal_nav_title %}
    <h2>Benutzer Übersicht</h2>
{% endblock %}

{% block horizontal_nav_navigation %}
    <li><span>Benutzer Übersicht</span></li>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="text-right">
                <a href="{% url 'account:create_user' %}" class="btn btn-info">Neuen Benutzer anlegen</a>
            </div>
        </div>
    </div>
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>
            <h2 class="panel-title">Benutzer Übersicht</h2>
        </header>

        <div class="panel-body">
            <div class="col-md-12">
                <table class="table table-bordered table-striped table-hover" id="datatable-default">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </section>
<!-- end: page -->
{% endblock %}

{% block specific_page_vendor_css %}
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="{% static 'dist/account/main.css' %}" />
{% endblock %}


{% block specific_page_vendor_js %}
    <!-- Specific Page Vendor -->
    <script src="{% static 'octopus/assets/vendor/select2/select2.js' %}"></script>
    <script src="{% static 'dist/account/bundle.js' %}"></script>
{% endblock %}

{% block examples %}

{% endblock %}