{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#"></a>
                    </div>

                    <h2 class="panel-title">Ordnerstruktur</h2>
                    {% include "filestorage/base/forms/form.html" %}
                </header>
            </section>
        </div>
    </div>

    <style>
        .dz-message {
            text-align: center;

        }
        .dz-success-mark {
            display:none;
        }

        .dz-error-mark{
            display:none;
        }
    </style>

    {% for directory in file_directories %}
        <div class="row">
            <div class="col-xs-12">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-up"></a>
                        </div>

                        <h2 class="panel-title">{{ directory.name }}</h2>
                    </header>
                    <div class="panel-body" style="display:none;">
                        <form action="{% url 'filestorage:file_upload' directory_pk=directory.pk %}"
                              class="dropzone dz-square" id="dropzone-example-{{ directory.pk }}"
                              enctype="multipart/form-data" style="border-style: dashed;">{% csrf_token %}
{#                                <div class="dz-message" data-dz-message><span>#}
{#                                 Datei hierher ziehen#}
{#                                </span></div>#}
                        </form>
                        <br/>
                        <div id="preview{{ directory.pk }}" class="dropzone col-md-12" style="border-width:thin;">

                        </div>
                    </div>
                </section>
            </div>
        </div>
    {% endfor %}
{% endblock %}




{% block js %}
    <script>
        var directories = [];
        {% for directory in file_directories %}
            directories.push({name: "{{ directory.name }}", pk: "{{ directory.pk }}"});
        {% endfor %}

        var directory_files = {};
        {% for directory in file_directories %}
            var files = [];
            directory_files["{{ directory.pk }}"] = files;
            {% for file in directory.files.all %}
                files.push(
                    {
                        name: "{{ file.file.name }}",
                        size: "{{ file.file.size }}",
                        pk: "{{ file.pk }}",
                        url: "{{ file.file.url }}",
                        version: "{{ file.version }}",
                        edit_view_url: "{% url 'filestorage:file' pk=file.pk %}",
                    }
                );
            {% endfor %}
        {% endfor %}

        var url = "{% url "filestorage:files-detail" pk=0 %}";
        var edit_url = "{% url 'filestorage:file' pk=0 %}"
        window.CSRF_TOKEN = "{{ csrf_token }}";

    </script>
    <!-- Specific Page Vendor -->
    {% if settings.WEBPACK_DEV_SERVER is True %}
        <script src="http://{{ settings.PUBLIC_IP }}:8080/build/filestorage/bundle.js"></script>
    {% else %}
        <script src="{% static 'dist/filestorage/bundle.js' %}"></script>
    {% endif %}
{% endblock %}


{% block css %}
    {% if settings.WEBPACK_DEV_SERVER is True %}
        <link rel="stylesheet" href="http://{{ settings.PUBLIC_IP }}:8080/build/filestorage/bundle.css" />
    {% else %}
        <link rel="stylesheet" href="{% static 'dist/filestorage/bundle.css' %}" />
    {% endif %}
{% endblock %}