{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#"></a>
                    </div>

                    <h2 class="panel-title">Ordnerstruktur</h2>

                </header>
            </section>
        </div>
    </div>

    <style>
        .dz-message {
            text-align: center;
        }
        .dz-success-mark {
            display:none;
        }
        .dz-error-mark{
            display:none;
        }
    </style>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-8 col-md-offset-2">
                {% include "filestorage/base/forms/form.html" %}
                <br/>
                <div>
                    <div class="col-xs-6"></div>
                    <div class="col-xs-6" style="padding:0 0 25px 0;">
                        <label>Aktion ausführen:</label>
                        <div class="input-group">
                          <select class="form-control" id="select_action">
                            <option>--------</option>
                            <option>Löschen</option>
                          </select>
                          <span class="input-group-btn">
                              <button class="btn btn-primary" id="action_btn">Ausführen</button>
                          </span>
                        </div>
                    </div>
                </div>
                <p id="error_msg" style="padding:0;margin:0;color:red;"></p>
                <br/>
                <table class="table table-bordered table-hover">
                    <tbody>

                        <tr>
                            <td>
                                <a href="{% url 'filestorage:tree' %}"><span {% if parent_directory %}class="glyphicon glyphicon-folder-close"{% else %} class="glyphicon glyphicon-folder-open"{% endif %}></span>&nbsp;&nbsp;&nbsp;...</a>
                            </td>
                            <td class="col-md-2"></td>
                        </tr>
                        {% if parent_directory and parent_directory.parent %}
                                <tr>
                                    <td>
                                        <a href="{% url 'filestorage:child_tree' parent_directory_pk=parent_directory.parent_id%}"><span class="glyphicon glyphicon-folder-close"></span>&nbsp;&nbsp;&nbsp;{{ parent_directory.parent.name }}</a>
                                    </td>
                                    <td align="right">
                                        {% include 'filestorage/snippets/announcement.html' with directory=parent_directory.parent redirect_directory=parent_directory %}
                                    </td>
                                </tr>
                        {% endif %}

                        {% if parent_directory %}
                                <tr id="dropzone">
                                    <td id="dropzone_first_td">
                                        <a href=""><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;&nbsp;{{ parent_directory.name }}</a>
                                    </td>
                                    <td align="right">
                                        <div class="form-group">
                                            <div class="btn-group" style="padding:0;">
                                                <button class="btn" type="button" id="upload_btn" style="display:inline-block; border:none; text-decoration: none;padding: 0;margin: 0;background:transparent;">
                                                    <span class="glyphicon glyphicon-cloud-upload"></span>
                                                </button>
                                            </div>
                                            <div class="btn-group" style="padding:0;">
                                                {% include 'filestorage/snippets/announcement.html' with directory=parent_directory redirect_directory=parent_directory %}
                                            </div>
                                            <div class="btn-group" style="padding:0;">
                                                <input class="checkbox_folder" type="checkbox" value="{{ parent_directory.pk }}" name="directory" style="display:inline-block; border:none; text-decoration: none;padding: 0;margin: 0;background:transparent;"/>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        {% endif %}

                        {% for directory in file_directories %}
                            <tr>
                                <td><a href="{% url 'filestorage:child_tree' parent_directory_pk=directory.pk %}"><span class="glyphicon glyphicon-folder-close"></span>&nbsp;&nbsp;&nbsp;{{ directory.name }}</a></td>
                                <td align="right">
                                    <div class="btn-group">
                                        {% include 'filestorage/snippets/announcement.html' with directory=directory redirect_directory=parent_directory %}
                                    </div>
                                    <div class="btn-group" style="padding:0;">
                                        <input class="checkbox_folder" type="checkbox" value="{{ directory.pk }}" name="directory" style="display:inline-block; border:none; text-decoration: none;padding: 0;margin: 0;background:transparent;"/>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                        {% for file in parent_directory.files.all %}
                            <tr>
                                <td>
                                    {% if file.file %}
                                        <a href="{% url 'filestorage:serve_file' pk=file.pk %}"><span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;&nbsp;{{ file.filename }}</a>
                                    {% else %}
                                        Fehlerhafte Datei
                                    {% endif %}
                                </td>
                                <td align="right">
                                    <div class="form-group">
                                        {% if file.file %}
                                            <div class="btn-group" style="padding:0;">
                                                <a href="{% url 'filestorage:file' pk=file.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                                            </div>
                                        {% endif %}
                                        <div class="btn-group" style="padding:0;">
                                            <input class="action_checkbox" type="checkbox" value="{{ file.pk }}" name="item" style="display:inline-block; border:none; text-decoration: none;padding: 0;margin: 0;background:transparent;"/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}




{% block js %}
    <script>
        var url = "{% url "filestorage:files-detail" pk=0 %}";
        var edit_url = "{% url 'filestorage:file' pk=0 %}";
        {% if parent_directory %}
            var upload_url = "{% url 'filestorage:file_upload' directory_pk=parent_directory.pk %}";
            var delete_url = "{% url 'filestorage:delete_files' directory_pk=parent_directory.pk %}";
        {% else %}
            var delete_url = "{% url 'filestorage:delete_files' %}";
        {% endif %}
        window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    <!-- Specific Page Vendor -->
    {% if settings.WEBPACK_DEV_SERVER is True %}
        <script src="http://{{ settings.PUBLIC_IP }}:8080/build/filestorage/bundle.js"></script>
    {% else %}
        <script src="{% static 'dist/filestorage/bundle.js' %}"></script>
    {% endif %}
{% endblock %}


{% block css %}
    {% if settings.WEBPACK_DEV_SERVER is True %}
        <link rel="stylesheet" href="http://{{ settings.PUBLIC_IP }}:8080/build/filestorage/bundle.css" />
    {% else %}
        <link rel="stylesheet" href="{% static 'dist/filestorage/bundle.css' %}" />
    {% endif %}
{% endblock %}