{% extends 'base.html' %}
{% load static %}

{% block css %}
    {% if settings.WEBPACK_DEV_SERVER is True %}
        <link rel="stylesheet" href="http://{{ settings.PUBLIC_IP }}:8080/build/account/user_list/bundle.css" />
    {% else %}
        <link rel="stylesheet" href="{% static 'dist/account/user_list/bundle.css' %}" />
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        var actions = {activation: "{% url 'account:user_activation' %}",
                       deactivation: "{% url 'account:user_deactivation' %}"}
    </script>
    <!-- Specific Page Vendor -->
    {% if settings.WEBPACK_DEV_SERVER is True %}
        <script src="http://{{ settings.PUBLIC_IP }}:8080/build/account/user_list/bundle.js"></script>
    {% else %}
        <script src="{% static 'dist/account/user_list/bundle.js' %}"></script>
    {% endif %}


{% endblock %}
