<h1>TEST 2 !!!!!</h1>


<script>
    let ws_start = "ws://";
    if(location.protocol === "https:"){
        ws_start = "wss://";
    }

    let endpoint = ws_start + "127.0.0.1:8000/messaging/chat" + "/30/1/";
    alert(endpoint);
    let socket = new WebSocket(endpoint);

    // let token = "Token dcc47b2a335324aedc284a4367bf9bfffba5adfb"; // local
    let token = "Token 2b871264377f5f4699337f6cc513149d816dbc06"; // staging

    socket.onopen = function(e){
        socket.send(token);
        console.log("OPEN", e);
    };

    socket.onmessage = function(e){
        console.log("MSG", e);
        console.log(JSON.parse(e.data));

    };

    socket.close = function(e){
        console.log("CLOSE", e);
    };

    socket.onerror = function(e){
        console.log("ERROR", e);
    };


</script>