<h1>TEST</h1>


<script>
    let ws_start = "ws://";
    alert(location.protocol)
    if(location.protocol === "https"){
        ws_start = "wss://";
    }

    let endpoint = ws_start + location.host + location.pathname + "/1/3/";
    let socket = new WebSocket(endpoint);

    // let token = "Token dcc47b2a335324aedc284a4367bf9bfffba5adfb"; // local
    let token = "Token 2b871264377f5f4699337f6cc513149d816dbc06"; // staging

    socket.onopen = function(e){
        socket.send(token);
        console.log("OPEN", e);
    };

    socket.onmessage = function(e){
        console.log("MSG", e);
        console.log(JSON.parse(e.data));

    };

    socket.close = function(e){
        console.log("CLOSE", e);
    };

    socket.onerror = function(e){
        console.log("ERROR", e);
    };


</script>