<form class="form-horizontal" action="{% url 'account:change_user_password' pk=object.pk %}" method="POST">{% csrf_token %}
    <h4 class="mb-xlg">Passwort ändern</h4>
    <fieldset class="mb-xl">
        {{ password_form.non_field_errors }}
        <div class="form-group">
            {{ password_form.new_password1.errors }}
            <label class="col-md-3 control-label" for="{{ password_form.new_password1.id_for_label }}">{{ password_form.new_password1.label }}</label>
            <div class="col-md-8">
                {{ password_form.new_password1 }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="{{ password_form.new_password2.id_for_label }}">{{ password_form.new_password2.label }}</label>
            <div class="col-md-8">
                {{ password_form.new_password2.errors }}
                {{ password_form.new_password2 }}
            </div>
        </div>
    </fieldset>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <button type="submit" name="reset_password" value="1" class="btn btn-primary">Passwort ändern</button>
            </div>
        </div>
    </div>
</form>
