{% extends 'accomplishment/base.html' %}
{% load static %}

{% block horizontal_nav_title %}
    <h2>Leistungen Übersicht</h2>
{% endblock %}

{% block horizontal_nav_navigation %}
    <li><span>Leistungen Übersicht</span></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#"></a>
                    </div>

                    <h2 class="panel-title">Neue Leistung</h2>
                    <form method="POST">{% csrf_token %}
                        <br/>
                        <p>
                            <label for="{{ form.name.id }}">{{ form.name.label }}
                            </label>
                            {{ form.name }}
                            {{ form.name.errors }}
                        </p>
                        <p>
                            <label for="{{ form.full_score.id }}">{{ form.full_score.label }}
                            </label>
                            {{ form.full_score }}
                            {{ form.full_score.errors }}
                        </p>
                        <div class="inline-checkboxes">
                            <label for="{{ form.groups.id }}">Gruppen</label>
                            {{ form.groups }}
                            {{ form.groups.errors }}
                        </div>
                        <div class="text-right">
                            <button class="btn btn-primary">Leistung anlegen</button>
                        </div>
                    </form>
                </header>
            </section>
        </div>
    </div>

    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>
            <h2 class="panel-title">Leistungen Übersicht</h2>
        </header>

        <div class="panel-body">
            <div class="col-md-12">
                <table class="table table-bordered table-striped table-hover" id="datatable-default">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </section>
<!-- end: page -->
{% endblock %}


{% block examples %}

{% endblock %}
