{% extends 'accomplishment/base.html' %}
{% load static %}

{% block horizontal_nav_title %}
    <h2>Leistungen Übersicht</h2>
{% endblock %}

{% block horizontal_nav_navigation %}
    <li><span>Leistungen Übersicht</span></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-up"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Neue Leistung</h2>
                </header>
                <section class="panel-body" style="display: none;">
                    <form method="POST">{% csrf_token %}
                        <br/>
                        <p>
                            <label for="{{ form.name.auto_id }}">{{ form.name.label }}
                            </label>
                            {{ form.name }}
                            {{ form.name.errors }}
                        </p>
                        <p>
                            <label for="{{ form.full_score.auto_id }}">{{ form.full_score.label }}
                            </label>
                            {{ form.full_score }}
                            {{ form.full_score.errors }}
                        </p>

{#                        <div class="inline-checkboxes">#}
{#                            <label for="{{ form.subject_areas.auto_id }}">Fachrichtungen VERALTET</label>#}
{#                            {{ form.subject_areas }}#}
{#                            {{ form.subject_areas.errors }}#}
{#                        </div>#}

                        <style>
                            .checkbox li {
                                list-style: none;
                            }

                            .checkbox ul {
                                padding-left: 0;
                            }

                            .checkbox .parent-label {
                                padding-left: 0;
                            }
                        </style>
                        <div class="checkbox">
                            <label class="parent-label" for="{{ form.categories.auto_id }}">Kategorien</label>
                            {{ form.categories }}
                            {{ form.categories.errors }}
                        </div>
                        <div class="text-right">
                            <button class="btn btn-primary">Leistung anlegen</button>
                        </div>
                    </form>
                </section>
            </section>
        </div>
    </div>

    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>
            <h2 class="panel-title">Leistungen Übersicht</h2>
        </header>

        <div class="panel-body">
            <div class="col-md-12">
                <table class="table table-bordered table-striped table-hover" id="datatable-default">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </section>
<!-- end: page -->
{% endblock %}


{% block examples %}

{% endblock %}
