{% extends 'base.html' %}
{% load static %}

{% block horizontal_nav_title %}
    <h2>Gruppe bearbeiten</h2>
{% endblock %}

{% block horizontal_nav_navigation %}
    <li><span>Gruppe bearbeiten</span></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <form method="POST" id="form">{% csrf_token %}
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>
                        <h2 class="panel-title">{{ object.name }}</h2>
                    </header>
                    <div class="panel-body">
                        <div class="col-md-6" style="padding-bottom:15px;">
                            <label for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>
                        <style>
                            .custom-checkbox-wrapper li {
                                display: block;
                            }
                        </style>
                        <div class="col-md-12 custom-checkbox-wrapper" style="padding-bottom:15px;">
                            <label for="{{ form.users.auto_id }}">{{ form.users.label }}</label>
                            {{ form.users }}
                            {{ form.users.errors }}
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6" style="padding:0;">
                                {{ form.type.label }}
                                {{ form.type }}
                                {{ form.type.errors }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <button class="btn btn-primary">Änderungen speichern</button>
                            </div>
                            <div class="col-md-12">
                                {{ form.non_field_errors }}
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>

    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>
            <h2 class="panel-title">Mitglieder {{ object.name }}</h2>
        </header>

        <div class="panel-body">
            <div class="col-md-12">
                {% with users=object.users.all %}
                    {% if users.count > 0 %}
                        {% for user in users %}
                            {{ user }}<br/>
                        {% endfor %}
                    {% else %}
                         Dieser Gruppe sind keine Benutzer zugewiesen
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </section>
<!-- end: page -->
    <style>
    form ul {
      padding-left:0;
      list-style: none;
    }
    form li {
      display: inline;
      padding-right:25px;
    }
    </style>
{% endblock %}


{% block examples %}

{% endblock %}