{% load static %}

<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>UKGM | Verwaltung </title>
		<meta name="keywords" content="UKGM Verwaltung" />
		<meta name="description" content="UKGM - Verwaltung">
		<meta name="author" content="UKGM">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        {% block css %}
            {% if settings.WEBPACK_DEV_SERVER is True %}
                <link rel="stylesheet" href="http://{{ settings.PUBLIC_IP }}:8080/build/base/bundle.css" />
            {% else %}
                <link rel="stylesheet" href="{% static 'dist/base/bundle.css' %}" />
            {% endif %}
        {% endblock %}

        {% include "base/css/extra_css.html" %}
	</head>
	<body>
		<section class="body">
			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
                    <div>
                        <a class="navbar-brand" href="{% url 'main' %}" style="color:#292929;">
                            <p>
                                <span style="font-size:20px;">UKGM</span></p>
                         </a>
                    </div>
					<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>

				<!-- start: search & user box -->
				<div class="header-right">

					<span class="separator"></span>

					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
							<figure class="profile-picture">
                                <img src="{% static 'octopus/assets/images/!logged-user.jpg' %}" alt="" class="img-circle" data-lock-picture="{% static 'octopus/assets/images/!logged-user.jpg' %}" />
							</figure>
							<div class="profile-info" data-lock-name="John Doe" data-lock-email="">
                                {% if request.user.first_name and request.user.last_name %}
								    <span class="name">{{ request.user.first_name|default:"" }} {{ request.user.last_name|default:"" }}</span>
                                {% else %}
                                    <span class="name">{{ request.user.username|default:"" }}</span>
                                {% endif %}
                                {% if request.user.is_superuser %}
                                    <span class="role">Administrator</span>
                                {% endif %}
							</div>

							<i class="fa custom-caret"></i>
						</a>

						<div class="dropdown-menu">
							<ul class="list-unstyled">
								<li class="divider"></li>
								<li>
									<a role="menuitem" tabindex="-1" href="{% url 'account:user_profile' pk=request.user.pk %}"><i class="fa fa-user"></i> Mein Profil</a>
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="{% url 'account:logout' %}"><i class="fa fa-power-off"></i> Abmelden</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">

					<div class="sidebar-header">
						<div class="sidebar-title" style="color:white;">
							Navigation
						</div>
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>

					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-main">
									<li class="nav-active">
										<a href="{% url 'main' %}">
											<i class="fa fa-home" aria-hidden="true"></i>
											<span>Dashboard</span>
										</a>
									</li>

                                    <li class="nav-parent">
										<a>
											<i class="fa fa-users" aria-hidden="true"></i>
											<span>Benutzerverwaltung</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="{% url 'account:user_list' %}">Benutzer Übersicht</a>
											</li>
                                            <li>
												<a href="{% url 'account:group_list' %}">Gruppen Übersicht</a>
											</li>
										</ul>
									</li>

                                    <li class="nav-parent">
										<a>
											<i class="fa fa-calendar" aria-hidden="true"></i>
											<span>Aufgabe-/Terminplanung</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="{% url 'appointment:planning' %}"><i class="fa fa-calendar" aria-hidden="true"></i> Terminplanung</a>
											</li>
                                            <li>
												<a href="{% url 'taskmanagement:tasks_list' %}"><i class="fa fa-check-square-o" aria-hidden="true"></i> Aufgaben</a>
											</li>
										</ul>
									</li>

                                    <li class="nav nav-children">
										<a href="{% url 'filestorage:tree' %}">
											<i class="fa fa-file-archive-o" aria-hidden="true"></i>
											<span>Infobox</span>
										</a>
									</li>
                                    <li class="nav nav-children">
										<a href="{% url 'appointment:duty_roster_list' %}">
											<i class="fa fa-calendar-o" aria-hidden="true"></i>
											<span>Dienstplan</span>
										</a>
									</li>
                                    <li class="nav nav-children">
										<a href="{% url 'accomplishment:list' %}">
											<i class="fa fa-briefcase" aria-hidden="true"></i>
											<span>Leistungen</span>
										</a>
									</li>
                                    <li class="nav nav-children">
										<a href="{% url 'phonebook:list' %}">
											<i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
											<span>Kontakliste</span>
										</a>
									</li>
                                    <li class="nav nav-children">
                                        <a href="{% url 'subject_area:list' %}">
                                            <i class="glyphicon glyphicon-book" aria-hidden="true"></i>
                                            <span>Fachrichtungen</span>
                                        </a>
                                    </li>
								</ul>
							</nav>
						</div>
					</div>
				</aside>
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						{% block horizontal_nav_title %}
                        {% endblock %}

						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="{% url 'main' %}">
										<i class="fa fa-home"></i>
									</a>
								</li>
                                {% block horizontal_nav_navigation %}
                                {% endblock %}
							</ol>

							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
						</div>
					</header>


                    <div class="row">
                        {% block content %}

                        {% endblock %}
                    </div>
					<!-- end: page -->
				</section>
			</div>

			<aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					<div class="nano-content">
						<a href="#" class="mobile-close visible-xs">
							Collapse <i class="fa fa-chevron-right"></i>
						</a>

						<div class="sidebar-right-wrapper">

							<div class="sidebar-widget widget-calendar">
								<h6>Ausstehende Aufgaben</h6>
								<div data-plugin-datepicker data-plugin-skin="dark" ></div>

								<ul>
								    {% for task in global_tasks %}
									<li>
                                        {% if task.end_datetime %}
                                            <time datetime="{{ task.end_datetime }}">{{ task.end_datetime }}</time>
                                        {% endif %}
										<span><a style="color:white;" href="{% url 'taskmanagement:edit_task' pk=task.pk %}">{{ task.name }}</a></span>
                                        <p>{{ task.description }}</p>
                                        <p style="color:white;">{{ task.completed_count }}/{{ task.users_count }}</p>
									</li>
                                    <hr/>
                                    {% endfor %}
								</ul>
							</div>
					</div>
				</div>
			</aside>
		</section>

        {% block js %}
            {% if settings.WEBPACK_DEV_SERVER is True %}
                <script src="http://{{ settings.PUBLIC_IP }}:8080/build/base/bundle.js"></script>
            {% else %}
                <script src="{% static 'dist/base/bundle.js' %}"></script>
            {% endif %}
        {% endblock %}

        {% block specific_page_vendor_js %}

        {% endblock %}

        {% include 'base/js/extra_js.html' %}


        {% block examples %}

        {% endblock %}
	</body>
</html>