{% extends 'base.html' %}

{% block horizontal_nav_title %}
    <h2>Startseite</h2>
{% endblock %}

{% block horizontal_nav_navigation %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-heading">
                    <h2 class="panel-title">Startseite</h2>
                </div>
                <div class="panel-body">
                    Willkommen auf der Startseite
                </div>
            </section>
        </div>
    </div>

{% endblock %}
