{% extends "base.html" %}
{% load static %}

{% block horizontal_nav_title %}
    <h2>Datei bearbeiten</h2>
{% endblock %}

{% block horizontal_nav_navigation %}
    <li><span><a href="{% url 'filestorage:tree' %}">Infobox</a></span></li>
    {% if file.parent_directory_id %}
    <li><span><a href="{% url 'filestorage:child_tree' parent_directory_pk=file.parent_directory_id %}">{{ file.parent_directory.name }}</a></span></li>
    {% endif %}
{% endblock %}


{% block content %}

    <style>
        .dz-message {
            text-align: center;

        }
        .dz-success-mark {
            display:none;
        }

        .dz-error-mark{
            display:none;
        }
    </style>

    <div class="row">
        <div class="col-xs-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                    </div>

                    <h2 class="panel-title">{{ file.filename }}</h2>

                </header>
                <div class="panel-body">
                    <div class="col-md-12 col-xs-12" style="padding-top:15px;">
                        <form action="{% url 'filestorage:file_upload_edit' file_pk=file.pk %}"
                              class="dropzone dz-square" id="dropzone"
                              enctype="multipart/form-data" style="border-style: dashed;">{% csrf_token %}
                        </form>
                        <br/>
                        <div class="text-center">
                            <a href="{{ file.file.url }}">{{ file.filename }}</a>
                            <p><b>Version: </b>{{ file.version_with_point }}</p>
                            <p id="error_field" style="color:red;"></p>
                            <div class="col-md-4 col-md-offset-4" style="padding: 0 0 15px 0;">
                                <input id="version" name="version" class="form-control" style="text-align:center;" placeholder="Version ändern"/>
                            </div>
                            <div class="col-md-12" style="padding:0;">
                                <p><b>Dateiname: </b>{{ file.filename }}</p>
                            </div>
                            <div class="col-md-4 col-md-offset-4" style="padding: 0 0 15px 0;">
                            <input id="file_name" name="name" class="form-control" style="text-align:center;" placeholder="Dateinamen ändern"/>
                            </div>
                            <br/>
                            <object data="{{ file.file.url }}" type="application/pdf" width="100%" height="500px">
                                PDF kann in diesem Browser nicht gerendert werden
                            </object>
                        </div>
                    </div>
                    <br/>
                </div>
            </section>
        </div>
    </div>
{% endblock %}



{% block js %}
    <script>
        var directories = [];
        directories.push({name: "{{ file.parent_directory.name }}", pk: "{{ file.parent_directory.pk }}"});

        var directory_files = {};
        var files = [];
        directory_files["{{ file.parent_directory.pk }}"] = files;
        files.push(
            {
                name: "{{ file.file.name }}",
                size: "{{ file.file.size }}",
                pk: "{{ file.pk }}",
                url: "{{ file.file.url }}",
                version: "{{ file.version }}",
                edit_view_url: "{% url 'filestorage:file' pk=file.pk %}",
            }
        );

        var url = "{% url "filestorage:files-detail" pk=0 %}";
        window.CSRF_TOKEN = "{{ csrf_token }}";

    </script>
    <!-- Specific Page Vendor -->
    {% if settings.WEBPACK_DEV_SERVER is True %}
        <script src="http://{{ settings.PUBLIC_IP }}:8080/build/filestorage/edit/bundle.js"></script>
    {% else %}
        <script src="{% static 'dist/filestorage/edit/bundle.js' %}"></script>
    {% endif %}
{% endblock %}


{% block css %}
    {% if settings.WEBPACK_DEV_SERVER is True %}
        <link rel="stylesheet" href="http://{{ settings.PUBLIC_IP }}:8080/build/filestorage/edit/bundle.css" />
    {% else %}
        <link rel="stylesheet" href="{% static 'dist/filestorage/edit/bundle.css' %}" />
    {% endif %}
{% endblock %}
