{% extends 'base.html' %}

{% block horizontal_nav_title %}
    <h2>Benutzer bearbeiten</h2>
{% endblock %}

{% block horizontal_nav_navigation %}
    <li>
        <span><a href="{% url 'account:user_list' %}">Benutzer Übersicht</a></span>
    </li>
    <li><span>Benutzer bearbeiten</span></li>
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <form method="POST">{% csrf_token %}
            {% include 'account/user/edit/form.html' %}
        </form>
    </div>
    {% with students=object.students.all %}
        {% if students.count > 0 %}
            <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-heading">
                        <h2 class="panel-title">Schüler</h2>
                    </div>
                    <div class="panel-body">
                        {% for student in students %}
                            <span style="padding:15px;">{{ student }}</span>
                        {% endfor %}
                    </div>
                </section>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}